<!DOCTYPE html>
<html lang="es">
<head>
    <%- include('./partials/head') %>
    <link rel="stylesheet" href="css/admin.css">
    <link rel="stylesheet" href="css/cart.css">
</head>
<body>
  <%- include('./partials/menu') %> <%- include('./partials/header') %>

  <!-- Tabla para mostrar y editar productos existentes -->
<main>
  <p id="titulo">Productos</p>
  <a href="/admin/formCreate"><button class="fcc-btn">AGREGAR</button></a>
  <table id="tabla" class="redondeada">
    <thead id="encabezado_tabla" class="glass_effect">
      <tr>
        <td class="titulos_tabla">ID</th>
        <td class="titulos_tabla">NOMBRE</th>
        <td class="titulos_tabla">PRECIO DE COMPRA</th>
        <td class="titulos_tabla">PRECIO DE VENTA</th>
        <td class="titulos_tabla">STOCK</th>
        <td class="titulos_tabla">EDITAR</th>
        <td class="titulos_tabla">ELIMINAR</th>
      </tr>
    </thead>
    <% data.map(item => { %>
    <tbody id="cuerpo_tabla">
      <!-- Contenido de la tabla -->
      <tr>
        <td class="contenido_tabla"><%= item.id %></td>
        <td class="contenido_tabla"><%= item.nombre %></td>
        <td class="contenido_tabla"><%= item.price %></td>
        <td class="contenido_tabla"><%= item.price %></td>
        <td class="contenido_tabla">stock</td>
        <td class="contenido_tabla">
          <a href="/admin/edit/<%= item.id %>" class="button-form" >
            <i class="far fa-edit"></i>
          </a>
        </td>
        <td class="contenido_tabla">
          <form action="/admin/delete/<%= item.id %>?_method=DELETE" method="post" class="formulario" >
              <i class="fas fa-trash"></i> 
          </form>
        </td>
      </tr>
    </tbody>
    <% }); %>
  </table>
  <%- include('./partials/footer') %> <%- include('./partials/script') %>
  </body>
</html>
