<!DOCTYPE html>
<html lang="es">
<head>
    <%- include('./partials/head') %>
    <link rel="stylesheet" href="css/admin.css">
    <link rel="stylesheet" href="css/carrito.css">
</head>
<body>
  <%- include('./partials/menu') %> <%- include('./partials/header') %>

  <!-- Tabla para mostrar y editar productos existentes -->
<main>
  <p id="titulo">Productos</p>
  <button>AGREGAR +</button>
  <table id="tabla" class="redondeada">
    <thead id="encabezado_tabla" class="efecto_glass">
      <tr>
        <td class="titulos_tabla">ID</th>
        <td class="titulos_tabla">NOMBRE</th>
        <td class="titulos_tabla">PRECIO DE COMPRA</th>
        <td class="titulos_tabla">PRECIO DE VENTA</th>
        <td class="titulos_tabla">STOCK</th>
        <td class="titulos_tabla">EDITAR</th>
        <td class="titulos_tabla">ELIMINAR</th>
      </tr>
    </thead>
    <% data.map(item => { %>
    <tbody id="cuerpo_tabla">
      <!-- Contenido de la tabla -->
      <tr>
        <td class="contenido_tabla"><%= item.id %></td>
        <td class="contenido_tabla"><%= item.nombre %></td>
        <td class="contenido_tabla"><%= item.precio %></td>
        <td class="contenido_tabla"><%= item.precio %></td>
        <td class="contenido_tabla"><input class="cantidad_producto" type="number" value="1" min="1" max="10" /></td>
        <td class="contenido_tabla"><button>Editar</button></td>
        <td class="contenido_tabla"><button>Eliminar</button></td>
      </tr>
    </tbody>
    <% }); %>
  </table>
  <%- include('./partials/footer') %> <%- include('./partials/script') %>
  </body>
</html>
