<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/head') %>
    <link rel="stylesheet" href="/css/home.css" />
  </head>
  <body>
    <!-- menu hamburguesa -->
    <%- include('./partials/menu') %>
    <!-- barra navegacion desktop -->
    <%- include('./partials/header') %>

    <section id="new_products">
        <h3>PRODUCTOS NUEVOS</h3>
        <div class="hidden_articles">
          <% product.map(item => { %>
          <article class="glass_effect display_flex">            
            <img class="product_image" src="/img/books/<%= item.imgList?.name %>" />
            
            <div class="display_flex product_information">
              <p class="product_name"><%= item.name %></p>
              <p class="prices">Precio: <%= item. salePrice %></p>
              <!-- <p class="prices">Precio al por mayor: <%= item.wholesalePrice %></p> -->
              </div>
            <div class="button_container">
              <button class="button">
                <a class="watch_more" href="/product/productDetail/<%= item.idProduct %>"
                  ><span class="button-content">VER MÁS</span></a
                >
              </button>
            </div>
          </article>
          <% }); %>
        </div>
    </section>
  
   </main>
   <%- include('./partials/footer') %> <%- include('./partials/script') %>
</body>
</html>