<!DOCTYPE html>
<html lang="en">
<head>
	<%- include('./partials/head') %>
	<link rel="stylesheet" href="../public/css/buy.css">
	<link rel="stylesheet" href="/css/login.css">
	
</head>
<body>
	<div id="overlay"></div>
	<%- include('./partials/menu') %> <%- include('./partials/header') %>
	<main>
		<div class="container"></div>
			<form action="" method="post">

				<div class="glass_effect" id="design">
				<h2> DATOS PERSONALES </h2><br>
					<label for="email">Correo Electronico</label>
					<input type="text" name="email" id="email" value = "<%= user.email %>"><br>
					
					<label for="full_name"> Nombre y apellido</label>
					<input type="text" name="full_name" id="full_name" value = "<%= user.fullname %>" ><br>
					<label for="dni"> DNI</label>
					<input type="text" name="dni" id="DNI" value = "<%= personalData.DNI %>" required ><br>
					<label for="phone_number"> Telefono</label>
					<input type="text" name="phone_number" id="phone_number" value = "<%= personalData.cellPhone %>" required >
				</div>
			</form>
			<br>
			<br>
			<form action="" method="post">
				<div class="glass_effect" id="design">
				<h2>DOMICILIO Y ENTREGA</h2><br>
				<br>
					<label for="postal_code">Codigo postal</label>
					<input type="text" name="postal_code" id="postal_code" value = "<%= personalData.cp %>" required ><br>
					<label for="street">Direccion</label>
					<input type="text" name="street" id="street" value = "<%= personalData.adress %>" required >
					
				</div>
			</form>
			<form action="" method="get">
				<div class="glass_effect" id="design">
				<h2> PROVINCIA</h2><br>
					<select name="province">
						<option value="buenosaires">Buenos Aires</option>
						<option value="chubut">Chubut</option>
						<option value="SantaFe">Santa Fe</option>
						<option value="Cordoba">Cordoba</option>
					</select>
				<label> Localidad</label>
					<select name="city">
						<option value="Sannicolas">San Nicolas</option>
						<option value="rosario">Rosario</option>
						<option value="Trelew">Trelew</option>
						<option value="carlospaz">Carlos Paz</option>
					</select>
				</div>
			</form>
			<br>
			<form action="" method="get">
				<div class="glass_effect" id="design">
				<h2>ELIJA EL TIPO DE ENTREGA</h2><br>
				<br>
					<input type="radio" name="method" id="method">
					<label for="method">Retiro por sucursal - Gratis.</label>
					<input type="radio" name="method" id="method">
					<label for="method">Envio a domicilio - $1200</label>
				</div>
			</form>
			<br>
			<form action="" method="get">
				<div class="glass_effect" id="design">
				<h2>PAGO</h2><br>
					<input type="radio" name="payment" id="payment">
					<label for="payment">Efectivo</label><br>
					<input type="radio" name="payment" id="payment">
					<label for="payment">Tarjeta de Debito</label><br>
					<input type="radio" name="payment" id="payment">
					<label for="payment">Tarjeta de Credito</label><br>
					<div>
						<div id="buy_button">
							<button class="button"><span class="button-content">Finalizar compra</span></button>
						</div>
					</div>
				</div>
			</form>
		</div>
	</main>
	<div class="container" id="effect">

		<!-- Tarjeta -->
		<section class="credit_card" id="credit_card">
			<div class="front_side">
				<div class="brand_logo" id="brand_logo">
					
				</div>
				<img src="/img/chip-tarjeta.png" class="chip" alt="">
				<div class="credit_card_data">
					<div class="group" id="number">
						<p class="label">Número Tarjeta</p>
						<p class="number">#### #### #### ####</p>
					</div>
					<div class="flexbox">
						<div class="group" id="credit_card_name">
							<p class="label">Nombre Tarjeta</p>
							<p class="credit_card_name">Tal cual figura en su plastico</p>
						</div>

						<div class="group" id="expiry_date">
							<p class="label">Expiracion</p>
							<p class="expiry_date"><span class="month">MM</span> / <span class="year">AA</span></p>
						</div>
					</div>
				</div>
			</div>

			<div class="back_side">
				<div class="magnetic_bar"></div>
				<div class="credit_card_data">
					<div class="group" id="signature_container">
						<p class="label">Firma</p>
						<div class="signature"><p></p></div>
					</div>
					<div class="group" id="ccv">
						<p class="label">CCV</p>
						<p class="ccv"></p>
					</div>
				</div>
				<p class="legend">Tarjeta valida en todo el territorio Argentino.</p>
			</div>
		</section>

		<!-- Contenedor Boton Abrir Formulario -->
		<div class="container-btn">
			<button class="btn-open-form" id="btn-open-form">
				<i class="fas fa-plus"></i>
			</button>
		</div>

		<!-- Formulario -->
		<form action="" id="credit_card_form" class="credit_card_form">
			<div class="group">
				<label for="number_input">Número Tarjeta</label>
				<input type="text" id="number_input" maxlength="19" autocomplete="off">
			</div>
			<div class="group">
				<label for="name_input">Nombre</label>
				<input type="text" id="name_input" maxlength="19" autocomplete="off">
			</div>
			<div class="flexbox">
				<div class="group expire">
					<label for="select_month">Expiracion</label>
					<div class="flexbox">
						<div class="group-select">
							<select name="select_month" id="select_month">
								<option disabled selected>Mes</option>
							</select>
							<i class="fas fa-angle-down"></i>
						</div>
						<div class="group-select">
							<select name="year" id="select_year">
								<option disabled selected>Año</option>
							</select>
							<i class="fas fa-angle-down"></i>
						</div>
					</div>
				</div>

				<div class="group ccv">
					<label for="inputCCV">CCV</label>
					<input type="text" id="inputCCV" maxlength="3">
				</div>
			</div>
			<button type="submit" class="btn-send">Enviar</button>
		</form>
	</div>

    <%- include('./partials/footer') %> <%- include('./partials/script') %>
	<script src="/JS/footer.js"></script>
</body>
</html>