<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/head') %>
    <link rel="stylesheet" href="/css/carrito.css" />
  </head>
  <body>
    <%- include('./partials/menu') %> <%- include('./partials/header') %>

    <main>
      
        <p id="titulo">Carrito de Compras</p>
        <table id="tabla" class="redondeada">
          <thead id="encabezado_tabla" class="efecto_glass">
            <tr>
              <td class="titulos_tabla">Producto</th>
              <td class="titulos_tabla">Precio Individual</th>
              <td class="titulos_tabla">Cantidad</th>
              <td class="titulos_tabla">Precio Total</th>
            </tr>
          </thead>
          <tbody id="cuerpo_tabla">
            <!-- Contenido de la tabla -->
            <tr>
              <td class="contenido_tabla"><button class="login-button">
                <i class="fa fa-trash" ></i>
              </button> Producto 1</td>
              <td class="contenido_tabla">$50.00</td>
              <td class="contenido_tabla">
                <input class="cantidad_producto" type="number" value="1" min="1" max="10" />
              </td>
              <td class="contenido_tabla">$50.00</td>
            </tr>
            <tr>
              <td class="contenido_tabla"><button class="login-button">
                <i class="fa fa-trash" ></i>
              </button> Producto 2</td>
              <td class="contenido_tabla">$30.00</td>
              <td class="contenido_tabla">
                <input class="cantidad_producto" type="number" value="2" min="1" max="10" />
              </td>
              <td class="contenido_tabla">$60.00</td>
            </tr>
          </tbody>
          <tfoot id="pie_tabla">
            <!-- Pie de tabla -->
            <tr>
              <td colspan="3"><strong>Total a pagar:</strong></td>
              <td><strong>$110.00</strong></td>
            </tr>
          </tfoot>
        </table>
      
        <!-- Calculo y opciones de envio -->
<div class="display_flex" id="bajo_tabla">
  <div class="display_flex" id="envios_pais">
    <p id="titulo_envio">ENVIOS A TODO EL PAÍS</p>
    <a href="#" id="calcular_envio">Calcular envío</a>
  </div>
  <div class="checkbox-container">
    <label>
      <input type="checkbox" id="envio_domicilio" />
      <span>Envío a mi domicilio</span>
    </label>
    <label>
      <input type="checkbox" id="retiro_sucursal" />
      <span>Retiro en sucursal</span>
    </label>
  </div>
  <div>
    <div id="button_comprar">
      <button class="button">
        <span class="button-content">FINALIZAR COMPRA</span>
      </button>
    </div>
  </div>
</div>
    
      <!-- Sección de Seguridad y envios -->
      <section id="prefooter" class="efecto_glass">
        <!-- Contenedor de Compra Segura -->
        <div class="seccion" >
          <i class="fas fa-lock"></i>
          <p>COMPRA SEGURA</p>
        </div>
        <!-- Contenedor de Entrega en 48 HS -->
        <div class="seccion">
          <i class="fas fa-truck"></i>
          <p>ENTREGA EN 48 HS</p>
        </div>
      </section>
      
    </main>
    <%- include('./partials/footer') %> <%- include('./partials/script') %>
  </body>
</html>