<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/head') %>
    <link rel="stylesheet" href="/css/userProfile.css">
    <link rel="stylesheet" href="/css/register.css">
    <link rel="stylesheet" href="/css/login.css">
  </head>
  <body>
    <%- include('./partials/menu') %> <%- include('./partials/header') %>
  </body>
  <main>
    USUARIO REGISTRADO CON ÉXITO

    <p class="fields_name">
        Inicia sesión
        <a class="fields_name" href="/users/login">aqui.</a>
      </p>
  </main>
  <%- include('./partials/footer') %> <%- include('./partials/script') %>