<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('./partials/head') %>
    <link rel="stylesheet" href="/css/editUser.css">
    <link rel="stylesheet" href="/css/register.css" />
    <link rel="stylesheet" href="/css/login.css" />
    <title>Editar usuario</title>
</head>

<body>
  <div id="overlay"></div>
  <%- include('./partials/menu') %> <%- include('./partials/headerUser') %>
      <main class="edit_user_form glass_effect">
        <form id="formEdit" method="POST" action="/users/editUser/<%= userInfo.idUser %>">
          <h3>EDITAR PERFIL</h3>

          <h4>Datos del Usuario</h4>
          <!-- FOTO DE PERFIL -->
          <!-- <label for="profile_image" class="fields_name">Imagen de perfil:</label>
          <input type="file" name="profile_image" class="fields_name" accept="image/*" /> -->

          <!-- NOMBRE Y APELLIDO -->
          <label class="fields_name" for="fullName">Nombre y Apellido:</label>
          <input type="text" id="fullname" name="fullname" value="<%- userInfo.fullname %>"
            onfocusout="enableSaveButton()" />
          <% if (locals.errors && errors.fullname){ %>
            <div>
              <%= errors.fullName.msg %>
            </div>
            <% } %>

              <!-- EMAIL -->
              <label class="fields_name" for="email">Correo electronico:</label>
              <input type="text" id="email" name="email" value="<%- userInfo.email %>"
                onfocusout="enableSaveButton()" />
              <% if (locals.errors && errors.email){ %>
                <div>
                  <%= errors.email.msg %>
                </div>
                <% } %>

                  <div id="habilitar_datosFacturacion">
                    <!-- Agrega una casilla de verificación para habilitar Datos de facturación -->
                    <label for="enableShipping">Datos de facturación</label>
                    <input type="checkbox" name="casillaVerificacion" id="enableShipping"
                      onchange="toggleShippingForm()" />
                  </div>


                  <!-- Segundo formulario de Datos de facturación (inicialmente oculto) -->
                  <div id="secondForm">
                    <h4>Datos de facturación</h4>

                    <label class="fields_name" for="dni">DNI:</label>
                    <input type="text" id="dni" name="dni" value="<%- userInfo.dni %>"
                      onfocusout="enableSaveButton()" />
                    <% if (locals.errors && errors.dni){ %>
                      <div>
                        <%= errors.dni.msg %>
                      </div>
                      <% } %>
                        <label class="fields_name" for="address">Dirección:</label>
                        <input type="text" id="address" name="address" value="<%- userInfo.address %>"
                          onfocusout="enableSaveButton()" />
                        <% if (locals.errors && errors.address){ %>
                          <div>
                            <%= errors.address.msg %>
                          </div>
                          <% } %>
                            <label class="fields_name" for="cellphone">Numero de telefono:</label>
                            <input type="number" id="cellphone" name="cellphone" value="<%- userInfo.cellphone %>"
                              onfocusout="enableSaveButton()" />
                            <% if (locals.errors && errors.cellPhone){ %>
                              <div>
                                <%= errors.cellPhone.msg %>
                              </div>
                              <% } %>
                                <label class="fields_name" for="city">Ciudad:</label>
                                <input type="text" id="city" name="city" value="<%- userInfo.city %>"
                                  onfocusout="enableSaveButton()" />
                                <% if (locals.errors && errors.city){ %>
                                  <div>
                                    <%= errors.city.msg %>
                                  </div>
                                  <% } %>
                                    <label class="fields_name" for="cp">Codigo Postal:</label>
                                    <input type="number" id="cp" name="cp" value="<%- userInfo.cp %>"
                                      onfocusout="enableSaveButton()" />
                                    <% if (locals.errors && errors.cp){ %>
                                      <div>
                                        <%= errors.cp.msg %>
                                      </div>
                                      <% } %>
                                        <label class="fields_name" for="province">Provincia:</label>
                                        <input type="text" id="province" name="province"
                                          value="<%- userInfo.province %>" onfocusout="enableSaveButton()" />
                                        <% if (locals.errors && errors.province){ %>
                                          <div>
                                            <%= errors.province.msg %>
                                          </div>
                                          <% } %>

                  </div>

                  <!-- Botón para guardar cambios (inicialmente deshabilitado) -->
                  <div id="botones_editarUsuario">
                    <input id="submit_update" type="submit" value="Guardar cambios" />
                    <input id="cancelar_cambios" type="button" value="Cancelar"
                      onclick="location.href='/users/userProfile'" />
                  </div>
        </form>
      </main>


      <%- include('./partials/footer') %> <%- include('./partials/script') %>


          <script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.12"></script>
          <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
          <script src="/js/editUser.js"></script>
          <script src="/JS/footer.js"></script>
</body>

</html>