<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head') %>
    <link rel="stylesheet" href="/css/formCreate.css">
</head>
<body>
    <%- include('./partials/menu') %> <%- include('./partials/header') %>
    <main class="main_form_create">
    <section id="form_create" class="glass_effect">
        <h2>Editar Producto: <%= data.name %></h2>
    <form action="/admin/editar/<%= data.id %>?_method=PUT" method="POST">
        <label for="name">Nombre:</label>
        <input type="text" id="name" name="name" value="<%= data.name %>" required><br>
        
        <label for="editorial">Editorial:</label>
        <input type="text" id="editorial" name="editorial" value="<%= data.editorial %>" required><br>
        
        <label for="author">Autor:</label>
        <input type="text" id="author" name="author" value="<%= data.author %>" required><br>
        
        <label for="publishDate">Fecha de Publicación:</label>
        <input type="number" id="publishDate" name="publishDate" value="<%= data.publishDate %>" required><br>
        
        <label for="datail">Detalle:</label>
        <textarea id="datail" name="datail" rows="4" required><%= data.datail %></textarea><br>
        
        <label for="characteristic">Característica:</label>
        <input type="text" id="characteristic" name="characteristic" value="<%= data.characteristic %>" required><br>
        
        <label for="category">Categoría:</label>
        <input type="text" id="category" name="category" value="<%= data.category %>" required><br>
        
        <label for="price">Precio:</label>
        <input type="number" id="price" name="price" step="0.01" value="<%= data.price %>" required><br>
        
        
        <button class="submit_edit_product" type="submit">Guardar Cambios</button>
    </form>
        
      
    </section>
    
    </main>
    <%- include('./partials/footer') %> <%- include('./partials/script') %>
</body>
</html>