<!DOCTYPE html>
<html>

<head>
  <%- include('./partials/head') %>
    <title>Preguntas Frecuentes</title>
    <link rel="stylesheet" href="/css/general.css">
    <link rel="stylesheet" href="/css/frequentQuestions.css" />
    <link rel="stylesheet" href="/css/home.css" />
    <link rel="stylesheet" href="/css/login.css">

</head>

<body>
  <div id="overlay"></div>
  <!-- menu hamburguesa -->
  <%- include('./partials/menu') %>
    <!-- barra navegacion desktop -->
    <% if (userLogged) { %>
      <!-- Mostrar barra de navegación para usuarios autenticados -->
      <%- include ('./partials/headerUser') %>
        <% } else { %>
          <!-- Mostrar barra de navegación para usuarios no autenticados -->
          <%- include ('./partials/header') %>
            <% } %>


              <h1>Preguntas Frecuentes</h1>
              <main>
                <div class="glass_effect frequent-questions">
                  <h2>Registración y primera compra</h2>
                  <div class="answer">

                    Desde la pantalla de bienvenida, podrás encontrar el botón de “Iniciar Sesión/Registrate”
                    en el margen superior derecho. Luego tendrás que completar los datos solicitados
                    y ¡listo!, tene en cuenta que si sos docente, tenes un ingreso especial.


                  </div>
                  <button class="show-answer">Mostrar Respuesta</button>
                </div>
                <div class="glass_effect frequent-questions">
                  <h2>¿Cómo puedo realizar una compra en su tienda en línea?</h2>
                  <div class="answer">
                    Para realizar una compra en nuestra tienda en línea, simplemente navegue
                    por nuestro catálogo, seleccione los productos que desea y agréguelos al carrito de compras.
                    Luego, siga los pasos del proceso de pago para completar su compra.
                  </div>
                  <button class="show-answer">Mostrar Respuesta</button>
                </div>
                <div class="glass_effect frequent-questions">
                  <h2>¿Cuáles son los métodos de pago disponibles?</h2>
                  <div class="answer">
                    Aceptamos varios métodos de pago, incluyendo tarjetas de crédito/débito
                    (Visa, MasterCard, etc.), transferencia bancaria y PayPal.
                    Al finalizar la compra, podrá seleccionar la opción de pago
                    que le resulte más conveniente.
                  </div>
                  <button class="show-answer">Mostrar Respuesta</button>
                </div>
                <div class="glass_effect frequent-questions">
                  <h2>¿Cuáles son los metodos de envios disponibles?</h2>
                  <div class="answer">
                    Para productos de la libreria podrás seleccionar envío a domicilio
                    o sucursal de Correo Argentino. Para compras al por mayor solo disponemos
                    de envío a domicilio. Cobertura de envío: total país.
                  </div>
                  <button class="show-answer">Mostrar Respuesta</button>
                </div>
                <div class="glass_effect frequent-questions">
                  <h2>¿Ofrecen descuentos para maestros o instituciones educativas?</h2>
                  <div class="answer">
                    ¡Sí! Ofrecemos descuentos especiales para maestros y instituciones educativas.
                    Para poder obtener estos descuentos, recuerda que debes registrarte como docente.
                    Para eso deber activar la casilla "Soy docente" en el formulario de registro e ingresar
                    el codigo promocional, el cual podés obtenerlo en tu escuela, o en nuestro local,
                    presentando la documenación que demuestre que sos docente.
                  </div>
                  <button class="show-answer">Mostrar Respuesta</button>
                </div>
                <div class="glass_effect frequent-questions">
                  <h2>¿Puedo realizar pedidos al por mayor para mi institución educativa?</h2>
                  <div class="answer">
                    Sí, ofrecemos opciones de compra al por mayor para instituciones educativas.
                    Póngase en contacto con nuestro equipo de ventas mayoristas para obtener
                    información sobre precios especiales y condiciones.
                  </div>
                  <button class="show-answer">Mostrar Respuesta</button>
                </div>
              </main>
              <%- include('./partials/footer') %> <%- include('./partials/script') %>
                  <script src="/JS/frequentQuestions.js"></script>
                  <script src="/JS/footer.js"></script>
</body>

</html>