<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('./partials/head') %>
    <link rel="stylesheet" href="/css/home.css" />
    <link rel="stylesheet" href="/css/login.css">
</head>

<body>
  <div id="overlay"></div>
  <!-- menu hamburguesa -->
  <%- include('./partials/menu') %>


    <% if (userLogged) { %>
      <!-- Mostrar barra de navegación para usuarios autenticados -->
      <%- include ('./partials/headerUser') %>
        <% } else { %>
          <!-- Mostrar barra de navegación para usuarios no autenticados -->
          <%- include ('./partials/header') %>
            <% } %>



              <main>
                <div id="bookStore_container" class="display_flex">
                  <div id="intro">
                    <h2>"Acompañando a los alumnos y docentes en cada paso"</h2>
                    <p>
                      Nuestra tienda en línea de artículos de librería y libros!
                      Encontrarás una amplia selección de productos que harán las delicias de los
                      amantes de la lectura y la escritura.
                      Navega por nuestras categorías y descubre libros de diversos géneros,
                      desde best sellers y clásicos hasta literatura infantil y académica.
                      Además, ofrecemos una variedad de artículos de librería, como cuadernos,
                      plumas, lápices,
                      marcadores y organizadores, perfectos para acompañarte en tus aventuras
                      literarias.
                      Con precios competitivos y envío rápido, te proporcionamos una experiencia
                      de compra conveniente y satisfactoria.
                      Ya sea que busques expandir tu biblioteca personal, encontrar un regalo
                      especial
                      o adquirir suministros de escritura de calidad.
                    </p>
                  </div>
                  <img src="/img/libreria.jpg" alt="foto libreria" id="bookstore_photo" class="hidden" />
                </div>

                <section id="new_products">
                  <h3>PRODUCTOS NUEVOS</h3>
                  <!-- VISTA PARA DESKTOP -->
                  <div class="hidden_articles">
                    <% product.map(item=> { %>
                      <article class="glass_effect display_flex">
                        <img class="product_image" src="/img/books/<%= item.imgList?.name %>" />

                        <div class="display_flex product_information">
                          <p class="product_name">
                            <%= item.name %>
                          </p>
                          <p class="prices">Precio: <%= item. salePrice %>
                          </p>
                          <!-- <p class="prices">Precio al por mayor: <%= item.wholesalePrice %></p> -->
                        </div>
                        <div class="button_container">
                          <button class="button">
                            <a class="watch_more" href="/product/productDetail/<%= item.idProduct %>"><span
                                class="button-content">VER MÁS</span></a>
                          </button>
                        </div>
                        <a href="/Carrito/add/<%= item.idProduct %>" class="add-to-cart" id="icono-carrito"><i
                            class="fas fa-cart-plus"></i>Agregar al carrito</a>

                      </article>
                      <% }); %>
                  </div>
                  <!-- VISTA PARA MOBILE -->
                  <div id="carouselExampleIndicators" class="carousel slide">
                    <div class="carousel-indicators">
                      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0"
                        class="active" aria-current="true" aria-label="Slide 1"></button>
                      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                        aria-label="Slide 2"></button>
                      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
                        aria-label="Slide 3"></button>
                      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3"
                        aria-label="Slide 4"></button>
                    </div>
                    <div class="carousel-inner">
                      <% product.forEach((item, index)=> { %>
                        <div class="carousel-item <%= index === 0 ? 'active' : '' %> carrusel_prod">
                          <article class="glass_effect display_flex">
                            <img src="/img/books/<%= item.imgList?.name %>" />
                            <div class="display_flex product_information">
                              <p>
                                <%= item.name %>
                              </p>
                              <p>
                                <%= item.salePrice %>
                              </p>
                            </div>
                            <div class="button_container">
                              <button class="button">
                                <span class="button-content">COMPRAR</span>
                              </button>
                            </div>
                          </article>
                        </div>
                        <% }); %>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
                      data-bs-slide="prev">
                      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
                      data-bs-slide="next">
                      <span class="carousel-control-next-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Next</span>
                    </button>
                  </div>
                </section>


                <section id="best_sellers">
                  <h3>LOS MÁS VENDIDOS</h3>
                  <!-- VISTA DESKTOP -->
                  <div class="hidden_articles">
                    <% product.map(item=> { %>
                      <article class="glass_effect display_flex">
                        <img class="product_image" src="/img/books/<%= item.imgList?.name %>" />

                        <div class="display_flex product_information">
                          <p class="product_name">
                            <%= item.name %>
                          </p>
                          <p class="prices">Precio: <%= item. salePrice %>
                          </p>
                          <!-- <p class="prices">Precio al por mayor: <%= item.wholesalePrice %></p> -->
                        </div>
                        <div class="button_container">
                          <button class="button">
                            <span class="button-content">VER MÁS</span>
                          </button>
                        </div>
                        <a href="/Carrito/add/<%= item.idProduct %>" class="add-to-cart" id="icono-carrito">
                          <i class="fas fa-cart-plus" id="carrito-icono"></i>Agregar al carrito
                        </a>
                      </article>
                      <% }); %>
                  </div>
                  <!-- VISTA MOBILE -->
                  <div id="carouselExampleIndicators" class="carousel slide">
                    <div class="carousel-indicators">
                      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0"
                        class="active" aria-current="true" aria-label="Slide 1"></button>
                      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                        aria-label="Slide 2"></button>
                      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
                        aria-label="Slide 3"></button>
                      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3"
                        aria-label="Slide 4"></button>
                    </div>
                    <div class="carousel-inner">
                      <% product.forEach((item, index)=> { %>
                        <div class="carousel-item <%= index === 0 ? 'active' : '' %> carrusel_prod">
                          <article class="glass_effect display_flex">
                            <img src="/img/books/<%= item.imgList?.name %>" />
                            <div class="display_flex product_information">
                              <p>
                                <%= item.name %>
                              </p>
                              <p>
                                <%= item.salePrice %>
                              </p>
                            </div>
                            <div class="button_container">
                              <button class="button">
                                <span class="button-content">COMPRAR</span>
                              </button>
                            </div>
                          </article>
                        </div>
                        <% }); %>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
                      data-bs-slide="prev">
                      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
                      data-bs-slide="next">
                      <span class="carousel-control-next-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Next</span>
                    </button>
                  </div>
                </section>
              </main>

              <%- include('./partials/footer') %> <%- include('./partials/script') %>
                  <script src="/JS/carrito.js"></script>
                  <script src="/JS/footer.js"></script>
</body>

</html>