<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/head') %>
    <link rel="stylesheet" href="/css/home.css" />
  </head>
  <body>
    <!-- menu hamburguesa -->
    <%- include('./partials/menu') %>
    <!-- barra navegacion desktop -->
    <%- include('./partials/header') %>

    <main>
      <div id="contenedor_libreria" class="display_flex">
        <div id="introduccion">
          <h2>"Acompañando a los alumnos y docentes en cada paso"</h2>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur
            eaque corrupti, quo at consequuntur provident, ducimus fugit
            possimus esse quae sapiente sint reprehenderit repellendus. Dolorem
            doloremque voluptatum modi itaque numquam! At quasi similique
            corrupti ut provident nobis a et ullam. Similique, aliquam beatae
            autem doloremque facilis repudiandae ipsam eos eum officiis
            excepturi nulla officia incidunt, adipisci tenetur quia. Eaque,
            iure.
          </p>
        </div>
        <img
          src="/img/libreria.jpg"
          alt="foto libreria"
          id="foto_libreria"
          class="oculto"
        />
      </div>

      <section id="productos_nuevos">
        <h3>PRODUCTOS NUEVOS</h3>
        <div class="articulos_ocultos">
          <% data.map(item => { %>
          <article class="efecto_glass display_flex">
            <img src="/img/libros/<%= item.img %>" />
            <div class="display_flex info_prod">
              <p><%= item.nombre %></p>
              <p><%= item.precio %></p>
            </div>
            <div class="boton">
              <button class="button">
                <span class="button-content">COMPRAR</span>
              </button>
            </div>
          </article>
          <% }); %>
        </div>
        <div id="carouselExampleIndicators" class="carousel slide">
          <div class="carousel-indicators">
            <button
              type="button"
              data-bs-target="#carouselExampleIndicators"
              data-bs-slide-to="0"
              class="active"
              aria-current="true"
              aria-label="Slide 1"
            ></button>
            <button
              type="button"
              data-bs-target="#carouselExampleIndicators"
              data-bs-slide-to="1"
              aria-label="Slide 2"
            ></button>
            <button
              type="button"
              data-bs-target="#carouselExampleIndicators"
              data-bs-slide-to="2"
              aria-label="Slide 3"
            ></button>
            <button
              type="button"
              data-bs-target="#carouselExampleIndicators"
              data-bs-slide-to="3"
              aria-label="Slide 4"
            ></button>
          </div>
          <div class="carousel-inner">
            <div class="carousel-item active carrusel_prod">
              <div class="d-block w-100">
                <article class="efecto_glass display_flex">
                  <img src="/img/producto1.png" />
                  <div class="display_flex info_prod">
                    <p>Nombre</p>
                    <p>Precio</p>
                  </div>
                  <div class="boton">
                    <button class="button">
                      <span class="button-content">COMPRAR</span>
                    </button>
                  </div>
                </article>
              </div>
            </div>
            <div class="carousel-item">
              <article class="efecto_glass display_flex">
                <img src="/img/producto1.png" />
                <div class="display_flex info_prod">
                  <p>Nombre</p>
                  <p>Precio</p>
                </div>
                <div class="boton">
                  <button class="button">
                    <span class="button-content">COMPRAR</span>
                  </button>
                </div>
              </article>
            </div>
            <div class="carousel-item">
              <article class="efecto_glass display_flex">
                <img src="/img/producto1.png" />
                <div class="display_flex info_prod">
                  <p>Nombre</p>
                  <p>Precio</p>
                </div>
                <div class="boton">
                  <button class="button">
                    <span class="button-content">COMPRAR</span>
                  </button>
                </div>
              </article>
            </div>
            <div class="carousel-item">
              <article class="efecto_glass display_flex">
                <img src="/img/producto1.png" />
                <div class="display_flex info_prod">
                  <p>Nombre</p>
                  <p>Precio</p>
                </div>
                <div class="boton">
                  <button class="button">
                    <span class="button-content">COMPRAR</span>
                  </button>
                </div>
              </article>
            </div>
          </div>
          <button
            class="carousel-control-prev"
            type="button"
            data-bs-target="#carouselExampleIndicators"
            data-bs-slide="prev"
          >
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button
            class="carousel-control-next"
            type="button"
            data-bs-target="#carouselExampleIndicators"
            data-bs-slide="next"
          >
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
      </section>
      <section id="mas_vendidos">
        <h3>LOS MÁS VENDIDOS</h3>
        <div class="articulos_ocultos">
          <article class="efecto_glass display_flex">
            <img src="/img/producto1.png" />
            <div class="display_flex info_prod">
              <p>Nombre</p>
              <p>Precio</p>
            </div>
            <div class="boton">
              <button class="button">
                <span class="button-content">COMPRAR</span>
              </button>
            </div>
          </article>
          <article class="efecto_glass display_flex">
            <img src="/img/producto1.png" />
            <div class="display_flex info_prod">
              <p>Nombre</p>
              <p>Precio</p>
            </div>
            <div class="boton">
              <button class="button">
                <span class="button-content">COMPRAR</span>
              </button>
            </div>
          </article>
          <article class="efecto_glass display_flex">
            <img src="/img/producto2.png" />
            <div class="display_flex info_prod">
              <p>Nombre</p>
              <p>Precio</p>
            </div>
            <div class="boton">
              <button class="button">
                <span class="button-content">COMPRAR</span>
              </button>
            </div>
          </article>
          <article class="efecto_glass display_flex">
            <img src="/img/producto3.png" />
            <div class="display_flex info_prod">
              <p>Nombre</p>
              <p>Precio</p>
            </div>
            <div class="boton">
              <button class="button">
                <span class="button-content">COMPRAR</span>
              </button>
            </div>
          </article>
        </div>
        <div id="carouselExampleIndicators" class="carousel slide">
          <div class="carousel-indicators">
            <button
              type="button"
              data-bs-target="#carouselExampleIndicators"
              data-bs-slide-to="0"
              class="active"
              aria-current="true"
              aria-label="Slide 1"
            ></button>
            <button
              type="button"
              data-bs-target="#carouselExampleIndicators"
              data-bs-slide-to="1"
              aria-label="Slide 2"
            ></button>
            <button
              type="button"
              data-bs-target="#carouselExampleIndicators"
              data-bs-slide-to="2"
              aria-label="Slide 3"
            ></button>
            <button
              type="button"
              data-bs-target="#carouselExampleIndicators"
              data-bs-slide-to="3"
              aria-label="Slide 4"
            ></button>
          </div>
          <div class="carousel-inner">
            <div class="carousel-item active carrusel_prod">
              <div class="d-block w-100">
                <article class="efecto_glass display_flex">
                  <img src="/img/producto1.png" />
                  <div class="display_flex info_prod">
                    <p>Nombre</p>
                    <p>Precio</p>
                  </div>
                  <div class="boton">
                    <button class="button">
                      <span class="button-content">COMPRAR</span>
                    </button>
                  </div>
                </article>
              </div>
            </div>
            <div class="carousel-item">
              <article class="efecto_glass display_flex">
                <img src="/img/producto1.png" />
                <div class="display_flex info_prod">
                  <p>Nombre</p>
                  <p>Precio</p>
                </div>
                <div class="boton">
                  <button class="button">
                    <span class="button-content">COMPRAR</span>
                  </button>
                </div>
              </article>
            </div>
            <div class="carousel-item">
              <article class="efecto_glass display_flex">
                <img src="/img/producto1.png" />
                <div class="display_flex info_prod">
                  <p>Nombre</p>
                  <p>Precio</p>
                </div>
                <div class="boton">
                  <button class="button">
                    <span class="button-content">COMPRAR</span>
                  </button>
                </div>
              </article>
            </div>
            <div class="carousel-item">
              <article class="efecto_glass display_flex">
                <img src="/img/producto1.png" />
                <div class="display_flex info_prod">
                  <p>Nombre</p>
                  <p>Precio</p>
                </div>
                <div class="boton">
                  <button class="button">
                    <span class="button-content">COMPRAR</span>
                  </button>
                </div>
              </article>
            </div>
          </div>
          <button
            class="carousel-control-prev"
            type="button"
            data-bs-target="#carouselExampleIndicators"
            data-bs-slide="prev"
          >
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button
            class="carousel-control-next"
            type="button"
            data-bs-target="#carouselExampleIndicators"
            data-bs-slide="next"
          >
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
      </section>
    </main>

    <%- include('./partials/footer') %> <%- include('./partials/script') %>
  </body>
</html>
