<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/head') %>
    <link rel="stylesheet" href="/css/register.css" />
    <link rel="stylesheet" href="/css/login.css" />
  </head>

  <body>
    <%- include('./partials/menu') %> <%- include('./partials/header') %>
    <main class="formularios_login">
      <section id="formulario_inicio_login" class="efecto_glass">
        <div>
          <form action="/users/processLogin" method="post">
            <h3>INGRESAR</h3>
            <label class="nombre_campos" for="email">Correo electronico:</label>
            <input type="email" id="email" name="email"/>
            <% if (locals.errors && errors.email){ %>
              <div> <%= errors.email.msg %> </div>
            <% } %>

            <% if (locals.errors) { %>
              <div>
                <% for (let i = 0; i < errors.length; i++) { %>
                  <p><%= errors[i].msg %></p>
                <% } %>
              </div>
            <% } %>

            <label class="nombre_campos" for="password">Contraseña:</label>
            <input type="password" id="password" name="password"/>
            <% if (locals.errors && errors.password){ %>
              <div> <%= errors.password.msg %> </div>
              <% } %>

            <div id="recordarme">
              <label class="nombre_campos" for="recordarme">Recordarme:</label>
              <input
                id="checkbox_recordarme"
                type="checkbox"
                name="recordarme"
              />
            </div>

            <input id="iniciar_sesion" type="submit" value="Iniciar sesión" />
            <br />
            <p class="nombre_campos">
              ¿No estás registrado? Registrate
              <a class="nombre_campos" href="#">aqui.</a>
            </p>
          </form>
        </div>
      </section>
      <div id="placa_derecha">
        <p>¡HOLA DE NUEVO!</p>
      </div>
    </main>

    <%- include('./partials/footer') %> <%- include('./partials/script') %>
  </body>
</html>
