<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/head') %>
    <link rel="stylesheet" href="/css/register.css" />
    <link rel="stylesheet" href="/css/login.css" />
  </head>

  <body>
    <%- include('./partials/menu') %> <%- include('./partials/header') %>
    <main class="login_form_main">
      <section id="login_form" class="glass_effect">
        <div>
          <form id="formLogin" action="/users/processLogin" method="post">
            <h3>INGRESAR</h3>

            <!-- Email -->
            <div class="input-control">
              <label class="fields_name" for="email">Correo electronico:</label>
              <input type="text" id="email" name="email" value="<%= locals.old && old.email ? old.email : '' %>"/>
              <div class="error"></div>
              <% if (locals.errors && errors.email){ %> 
                <div> <%= errors.email.msg %> </div>
              <% } %>
            </div>

            <% if (locals.errors) { %>
              <div>
                <% for (let i = 0; i < errors.length; i++) { %>
                  <p><%= errors[i].msg %></p>
                <% } %>
              </div>
            <% } %>

            <!-- Contraseña -->
            <div class="input-control">
              <label class="fields_name" for="password">Contraseña:</label>
              <input type="password" id="password" name="password" />
              <div class="error"></div>
              <% if (locals.errors && errors.password){ %>
                <div> <%= errors.password.msg %> </div>
              <% } %>
            </div>

            <div id="remember_me">
              <label class="fields_name" for="remember_me">Recordarme:</label>
              <input id="checkbox_recordarme" type="checkbox" name="remember_me"/>
            </div>

            <input id="submit_login" type="submit" value="Iniciar sesión" />
            <br />
            <p class="fields_name">
              ¿No estás registrado? Registrate
              <a class="fields_name" href="/users/register">aqui.</a>
            </p>
          </form>
        </div>
      </section>
      <div id="right_panel">
        <!-- Elementos del panel con animacion de escritura -->
        <span class="typed"></span>
      </div>
    </main>

    <%- include('./partials/footer') %> <%- include('./partials/script') %>
    <script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.12"></script>
    <script src="/js/login.js"></script>
  </body>
</html>
