<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/head') %>
    <link rel="stylesheet" href="/css/register.css" />
    <link rel="stylesheet" href="/css/login.css" />
  </head>

  <body>
    <%- include('./partials/menu') %> <%- include('./partials/header') %>
    <main class="login_form_main">
      <section id="login_form" class="glass_effect">
        <div>
          <form action="/users/processLogin" method="post">
            <h3>INGRESAR</h3>
            <label class="fields_name" for="email">Correo electronico:</label>
            <input type="email" id="email" name="email"/>
            <% if (locals.errors && errors.email){ %>
              <div> <%= errors.email.msg %> </div>
            <% } %>

            <% if (locals.errors) { %>
              <div>
                <% for (let i = 0; i < errors.length; i++) { %>
                  <p><%= errors[i].msg %></p>
                <% } %>
              </div>
            <% } %>

            <label class="fields_name" for="password">Contraseña:</label>
            <input type="password" id="password" name="password"/>
            <% if (locals.errors && errors.password){ %>
              <div> <%= errors.password.msg %> </div>
              <% } %>

            <div id="remember_me">
              <label class="fields_name" for="remember_me">Recordarme:</label>
              <input id="checkbox_recordarme" type="checkbox" name="remember_me"/>
            </div>

            <input id="submit_login" type="submit" value="Iniciar sesión" />
            <br />
            <p class="fields_name">
              ¿No estás registrado? Registrate
              <a class="fields_name" href="#">aqui.</a>
            </p>
          </form>
        </div>
      </section>
      <div id="right_panel">
        <p>¡HOLA DE NUEVO!</p>
      </div>
    </main>

    <%- include('./partials/footer') %> <%- include('./partials/script') %>
  </body>
</html>
