<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/general.css" />
    <link rel="stylesheet" href="/css/productDetail.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" rel="stylesheet"/>
    <link
      href="https://fonts.googleapis.com/css2?family=Dosis:wght@200;300;400;500;600;700;800&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM"
      crossorigin="anonymous"
    />
    <title>Luminis</title>
  </head>

  <body>
    
    <!-- --------------------------------------Menu Hamburguesa-------------------------------------- -->
    <div class="outer-menu">
      <input class="checkbox-toggle" type="checkbox" />
      <div class="hamburger">
        <div></div>
      </div>
      <div class="menu">
        <div>
          <div>
            <ul>
              <li><a href="/productos">PRODUCTOS</a></li>
              <li><a href="">NOSOTROS</a></li>
              <li><a href="">NEWS</a></li>
              <li><a href="">AYUDA</a></li>
              <a href="/register">
                <button id="sign_up" class="flecha">
                  Registrate
                  <div class="arrow-wrapper">
                    <div class="arrow"></div>
                  </div>
                </button>
              </a>
              <button id="login" class="flecha">
                Inicia Sesión
                <div class="arrow-wrapper">
                  <div class="arrow"></div>
                </div>
              </button>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <section id="header" class="efecto_glass">
      <header>
        <div id="barra_navegacion">
          <div id="encabezado" class="display_flex">
            <img src="/img/logo2.svg" alt="Logo" id="logo" />
            <h1 id="luminis">Luminis</h1>
          </div>
          <div id="nav_bar">
            <ul>
              <li><a href="/productos">PRODUCTOS</a></li>
              <li><a href="">NOSOTROS</a></li>
              <li><a href="">NEWS</a></li>
              <li><a href="">AYUDA</a></li>
              <a href="/register" class="user_button">
                <button id="sign_up" class="flecha">
                  Registrate
                  <div class="arrow-wrapper">
                    <div class="arrow"></div>
                  </div>
                </button>
              </a href="/login" class="user_button">
              <button id="login" class="flecha">
                Inicia Sesión
                <div class="arrow-wrapper">
                  <div class="arrow"></div>
                </div>
              </button>
              <i class="fas fa-shopping-cart"></i>
              <i class="fas fa-user-circle"></i>
            </ul>
          </div>
        </div>
      </header>
    </section>

    <!-- -----------------------------------------------------MAIN----------------------------------------------------- -->

    
   <main>  
     <section class="container_productDetails">
      <!-- Carrusel------------------------------------------ -->
      <article class="container_carousel-image">
        <div id="carouselExample" class="carousel slide">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img id="img1" src="/img/mochila prueba.png" class="imgcarousel"  alt="...">
            </div>
            <div class="carousel-item">
              <img id="img2" src="/img/mochila prueba.png" class="imgcarousel" alt="...">
            </div>
            <div class="carousel-item">
              <img id="img3" src="/img/mochila prueba.png" class="imgcarousel" alt="...">
            </div>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
        <!-- Fin Carrusel--------------------------------------- -->
        <!-- -----Inicio image container-------------------------------- -->
       <div class="image_container">
        <img id="uno"  src="/img/mochila prueba.png" alt="thumnail">
        <img id="dos"  src="/img/mochila prueba.png" alt="thumnail">
        <img id="tres"  src="/img/mochila prueba.png" alt="thumnail">
       </div>
      </article>
       <!-- ----------------Fin image container--------------------------------- -->
       <!-- ---------------------Inicio nombre producto--------------------------------- -->

     <article class="details_products">
      <h2 class="details__title">   <%= libroSelect.nombre %></h2>
      <div class="details__prices">
        <p class="details__now">$   <%= libroSelect.precio %></p>
        <button class="button">
          <span class="button-content">Ver cuotas</span>
        </button>
      </div>
      <div class="details__stock">
        <i id="ok" class="fa-solid fa-check"></i>
        <p class="datails__stock"> Stock disponible</p>
      </div>
      <div class="details__envio">
        <i id= "envio" class="fa-solid fa-truck-moving"></i>
        <p class="datails__envio">Envio al todo el Pais</p>
      </div>
      <div class="details__product-quantity">
        <button class="button"> <span class="button-content"> <i class="fa-solid fa-cart-shopping"></i> Sumar al carrito</span> </button>
      </div>
        </article>
        <!-- ------------------FIN nombreproducto-------------------------------  -->
    </section>
        <!-- -----------------------Inicio Descripcion Producto------------------------ -->
    <section class="container_productDescription">
      <div class="details_productName">
      <H2 id="h2"><u>  <%= libroSelect.descripcion %></u></H2>
      </div>
      <article class="container_productName">
        <div class="details__description">
        <p class="details_description-P">Primera Descripcion</p>
        <ul class="ul_details_description">

          <li></i>  <%= libroSelect.caracteristica %></li>
          <li></i><%= libroSelect.autor %></li>
          <li></i><%= libroSelect.editorial %></li>
          <li></i><%= libroSelect.categoria %></li>
          <li></i><%= libroSelect.fechaPublicacion %></li>
          <li></i><%= libroSelect.puntuacion %></li>
          <li></i>Espalda acolchonada</li>
          <li></i>Tela impermeable </li>
          
          
        </ul>
        </div>

        <div class="oter__descripton">
          <p class="details_description-P" > Segunda Descripción</p>
          <ul class="ul_details_description">
          <li></i></i>2 bolsillos laterales con red</li>
          <li></i></i>Tiras regulables</li>
          <li></i></i>Espalda acolchonada</li>
          <li></i></i>Tela impermeable </li>
        </ul>
        </div>
      </article>
    </section>
      <!-- -------------------------------------FIN Descripcion producto------------------------ -->
       <!-- ----------------------------------------Inicio Slider--------------------------------------- -->
      
    <!------   SLIDER DE EDITORIALES   ------>

    <section class="slider">
        <div class="slide-track">
            <div class="slide">
                <img src="../public/img/slider/1.png" alt="">
            </div>
            <div class="slide">
                <img src="../public/img/slider/2.png" alt="">
            </div>
            <div class="slide">
                <img src="../public/img/slider/3.png" alt="">
            </div>
            <div class="slide">
                <img src="../public/img/slider/4.png" alt="">
            </div>
            <div class="slide">
                <img src="../public/img/slider/5.png" alt="">
            </div>
            <div class="slide">
                <img src="../public/img/slider/6.png" alt="">
            </div>
            <div class="slide">
                <img src="../public/img/slider/7.png" alt="">
            </div>

            <div class="slide">
                <img src="../public/img/slider/1.png" alt="">
            </div>
            <div class="slide">
                <img src="../public/img/slider/2.png" alt="">
            </div>
            <div class="slide">
                <img src="../public/img/slider/3.png" alt="">
            </div>
            <div class="slide">
                <img src="../public/img/slider/4.png" alt="">
            </div>
            <div class="slide">
                <img src="../public/img/slider/5.png" alt="">
            </div>
            <div class="slide">
                <img src="../public/img/slider/6.png" alt="">
            </div>
            <div class="slide">
                <img src="../public/img/slider/7.png" alt="">
            </div>
        </div>
    </section>

    <!-- --------------------------------------Fin Slider------------- -->

    

   </main>
    
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
      crossorigin="anonymous"
    ></script>
  
  </body>
  <!-- -----------------------------------------------FOOTER------------------------------------------------- -->

  <footer>
    <section id="footer" class="efecto_glass">
      <div id="ayuda">
        <input id="ayuda_boton" type="button" value="Ayuda" />
        <p class="texto_footer">¿Tenés alguna sugerencia o comentario?</p>
        <a class="texto_footer" href="">Contactanos</a>
      </div>
      <div id="busca_trabajo">
        <p class="texto_footer">¿Buscás trabajo?</p>
        <input
          id="trabaja_boton"
          type="button"
          value="¡Trabajá con nosotros!"
        />
      </div>
      <div id="redes">
        <p class="texto_footer">Seguinos en nuestras redes sociales</p>
        <div id="redes_icons">
          <i class="fab fa-facebook-square"></i>
          <i class="fab fa-instagram"></i>
          <i class="fab fa-twitter"></i>
          <i class="fab fa-linkedin"></i>
        </div>
      </div>
    </section>
  </footer>
  <!-- d-block w-100 -->
</html>