<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('./partials/head') %>
  <link rel="stylesheet" href="/css/general.css">
  <link rel="stylesheet" href="/css/productDetail.css" />
  <link rel="stylesheet" href="/css/login.css">
</head>

<body>
  <div id="overlay"></div>

  <!-- Menú Hamburguesa -->
  <%- include('./partials/menu') %>

  <!-- Barra de navegación -->
  <% if (userLogged) { %>
    <%- include('./partials/headerUser') %>
  <% } else { %>
    <%- include('./partials/header') %>
  <% } %>

  <main>
    <section class="container_productDetails">
      <!-- Carrusel -->
      <article class="container_carousel-image">
        <div id="carouselExample" class="carousel slide">
          <div class="carousel-inner">
            <% imgList.forEach((img, index) => { %>
              <div class="carousel-item <%= index === 0 ? 'active' : '' %>">
                <img src="/img/books/<%= img.name %>" class="imgcarousel" alt="<%= img.name %>">
              </div>
            <% }) %>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
      </article>

      <!-- Detalles del producto y Descripción -->
      <article class="details_products">
        <h2 class="details__title"><%= product.name %></h2>
        <div class="details__prices">
          <p class="details__now">$ <%= product.salePrice %></p>
          <button class="button">
            <span class="button-content">Ver cuotas</span>
          </button>
        </div>
        <div class="details__stock">
          <i id="ok" class="fas fa-check-circle"></i>
          <p class="datails__stock"> Stock disponible: <%= product.stock %></p>
        </div>
        <div class="details_shipping">
          <i id="shipping" class="fas fa-truck"></i>
          <p class="details__shipping">Envio al todo el Pais</p>
        </div>
        <div class="details__product-quantity">
          <button class="button">
            <span class="button-content">Sumar al carrito</span>
          </button>
        </div>

        <!-- Descripción del producto -->
        <div class="details_productName">
          <h2 id="h2"><u><%= product.detail %></u></h2>
        </div>
        <div class="details__description">
          <p class="details_description-P">Detalles del Producto</p>
          <ul class="ul_details_description">
            <% product.characteristic.split(',').forEach(function(characteristic) { %>
              <li><%= characteristic.trim() %></li>
            <% }); %>
            
            <li><%= product.author %></li>
            <li><%= product.brand %></li>
            <li><%= product.editorial %></li>
            <li><%= product.idCategory %></li>
          </ul>
        </div>
      </article>
    </section>
  </main>

  <!-- Footer y scripts -->
  <%- include('./partials/footer') %>
  <%- include('./partials/script') %>
  <script src="/JS/footer.js"></script>
</body>

</html>