<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/head') %>
    <link rel="stylesheet" href="/css/products.css" />
  </head>

  <body>
    <%- include('./partials/menu') %> <%- include('./partials/header') %>

    <!------   MAIN   ------>
    <main>
      <aside>
        <!------   BOTONES FILTRAR     ------>
        <div class="filters glass_effect">
          <a href="#" class="btn">
            <span><i class="fa-duotone fa-right-left"></i></span>
            ORDENAR POR
          </a>
          <span class="separator"></span>
          <a href="#" class="btn">
            <span><i class="fa-solid fa-sliders"></i></span>
            FILTRAR
          </a>
        </div>
        <!-- <div class="publicidad">
            <div class="publi">
              <img src="img/publicidad1.jpg" alt="">
            </div>
       </div> -->
      </aside>
      <!------   BANNER DE PROMOCIONES   ------>
      <section class="banner"></section>

      <!------   GRID DE IMAGENES   ------>

      <div class="product_card_item glass_effect">
        <% product.map(item => { %>
        <img src="../img/books/<%= item.imgList?.name %>" alt="<%= item.imgList?.name %>" />
        <% }); %>
      </div>

      <div class="button_container">
        <button class="button">
          <span class="button-content">VER MAS PRODUCTOS</span>
        </button>
      </div>
      <%- include('./partials/slider') %>
    </main>

    <%- include('./partials/footer') %>
  </body>
</html>
