<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/head') %>
    <link rel="stylesheet" href="/css/register.css">
  </head>

  <body>
    <%- include('./partials/menu') %>
    <%- include('./partials/header') %>
    <main class="formularios_register">
      <section id="formulario_inicio_register" class="efecto_glass">
        <div>
          <form>
            <h3>REGISTRAR USUARIO</h3>
            <label class="nombre_campos" for="name">Nombre y Apellido:</label>
            <input type="text" id="name" name="name" required />

            <label class="nombre_campos" for="email">Correo electronico:</label>
            <input type="text" id="email" name="email" required />

            <div id="soy_docente">
              <label class="nombre_campos" for="soy_docente">Soy docente:</label>
              <input id="checkbox_docente" type="checkbox" name="soy_docente"/>
            </div>

            <label class="nombre_campos" for="code">Código de verificacíon:</label>
            <input type="text" id="code" name="code"/>

            <label class="nombre_campos" for="password">Contraseña:</label>
            <input type="password" id="password" name="password" required />

            <label class="nombre_campos" for="password">Repetir contraseña:</label>
            <input type="password" id="password" name="password" required />

            <input id="registrarme" type="submit" value="Registrarme" />
            <br />
            <p class="nombre_campos">
              ¿Ya tenés una cuenta? Inicia sesión
              <a class="nombre_campos" href="#">aqui.</a>
            </p>
          </form>
        </div>
      </section>
      <div id="placa_izquierda">
        <p>¡BIENVENIDO!</p>
      </div>
    </main>

    <%- include('./partials/footer') %>
    <%- include('./partials/script') %>
    
   
  </body>

</html>