<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/head') %>
    <link rel="stylesheet" href="/css/register.css" />
    <link rel="stylesheet" href="/css/login.css" />
  </head>

  <body>
    <%- include('./partials/menu') %> <%- include('./partials/header') %>
    <main class="main_register_form">
      <section id="register_form" class="glass_effect">
        <div>
          <form method="POST" action="/users/store" enctype="multipart/form-data">
            <h3>REGISTRAR USUARIO</h3>
            <label class="fields_name" for="name">Nombre y Apellido:</label>
            <input type="text" id="name" name="name" value="<%= locals.old && old.name ? old.name : '' %>"/>
              <% if (locals.errors && errors.name){ %>
                <div> <%= errors.name.msg %> </div>
                <% } %>
            <label class="fields_name" for="email">Correo electronico:</label>
            <input type="text" id="email" name="email" value="<%= locals.old && old.email ? old.email : '' %>"/>
            <% if (locals.errors && errors.email){ %> 
              <!-- era error."el valor que pasamos por name" -->
              <div> <%= errors.email.msg %> </div>
              <% } %>

            <div id="im_teacher">
              <label class="fields_name" for="teacher">Soy docente:</label>
              <input id="teacher_checkbox" type="checkbox" name="teacher" />
            </div>

            <label class="fields_name" for="code"
              >Código de verificacíon:</label
            >
            <input type="text" id="code" name="code" />

            <label class="fields_name" for="password">Contraseña:</label>
            <input type="password" id="password" name="password" />
            <% if (locals.errors && errors.password){ %>
              <div> <%= errors.password.msg %> </div>
              <% } %>

            <label class="fields_name" for="passwordR"
              >Repetir contraseña:</label
            >
            <input type="password" id="password" name="passwordR" />
            <% if (locals.errors && errors.passwordR){ %>
              <div> <%= errors.passwordR.msg %> </div>
              <% } %>
                
            <label for="profile_image" class="fields_name"
              >Imagen de perfil:</label
            >
            <input type="file" name="profile_image" class="fields_name" />

            <input id="submit_register" type="submit" value="Registrarme" />
            <br />
            <p class="fields_name">
              ¿Ya tenés una cuenta? Inicia sesión
              <a class="fields_name" href="#">aqui.</a>
            </p>
          </form>
        </div>
      </section>
      <div id="left_panel">
        <p>¡BIENVENIDO!</p>
      </div>
    </main>

    <%- include('./partials/footer') %> <%- include('./partials/script') %>
  </body>
</html>
