<!DOCTYPE html>
<html lang="es">
  <head>
    <%- include('./partials/head') %>
    <link rel="stylesheet" href="general.css">
    <link rel="stylesheet" href="css/cart.css">
   <link rel="stylesheet" href="css/AdminUser.css">
   
  
</head>
<body>
  <%- include('./partials/menu') %> <%- include('./partials/header') %>
  <main>
    <p id="title">Lista de Usuarios</p>
    <table id="table" class="redondeada">
        <thead id="table_header" class="glass_effect">
          <tr>
            <td class="table_titles">ID</th>
            <td class="table_titles">EMAIL</th>
            <td class="table_titles">ROL ACTUAL</th>   
            <td class="table_titles">ROL ADMIN</th>   
              
          </tr>
        </thead>
        <% user.map(item => { %>
            <tbody id="table_body">
              <!-- Contenido de la tabla -->
              <tr>
                <td class="table_content"><%= item.idUser %></td>
                <td class="table_content"><%= item.email %></td>
                <td class="table_content"><%= item.rol %></td>                
                <td class="table_content">
                  <form action="/admin/updateUser/<%= item.idUser %>?" class="fcc-btn" >
                      <button class = "btn-user">VER MAS</button>
                  </form>
                </td>                
              </tr>
            </tbody>
            <% }); %>
          </table>
          <%- include('./partials/footer') %> <%- include('./partials/script') %>
          </body>
        </html>
        