<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/head') %>
    <link rel="stylesheet" href="/css/userProfile.css">
    <link rel="stylesheet" href="/css/register.css">
    <link rel="stylesheet" href="/css/login.css">
  </head>
  <body>
    <%- include('./partials/menu') %> <%- include('./partials/header') %>
    <main>
      <h1 id="my_profile">MI PERFIL</h1>
      <div id="profile_image_container">
        <div id="profile_image">
          <img src="/img/usersProfile_images/avatar-1694739964634.JPG" alt="foto de perfil" >
        </div>
      </div>
      <div id="datos_menu">
            <ul>
              <li>
                <a href="#" id="usuarioLink">Datos de Usuario</a>
                <a href="#" id="facturacionLink">Datos de facturación</a>
              </li>
            </ul>
      </div>
          <div id="datos_usuarios">
              <h3>Datos de usuario</h3>
                <div class="fields_name glass_effect"><h4>Nombre y Apellido:</h4>
                  <p><%= userInfo.name %></p>
                </div>
                <div class="fields_name glass_effect"><h4>Correo electrónico:</h4>
                  <p><%= userInfo.email %></p>
                </div>
                <div class="fields_name glass_effect"><h4>Contraseña:</h4>
                  <p>**********</p>
                </div>
          </div>
          <div id="datos_compras">
            <h3>Datos de facturación</h3>
              <div class="fields_name glass_effect"><h4>Nombre y Apellido:</h4>
                <p><%= userInfo.name %></p>
              </div>
              <div class="fields_name glass_effect"><h4>Correo electrónico:</h4>
                <p><%= userInfo.email %></p>
              </div>
        </div>
            <div id="buttons">
                <button id="delete_button" type="submit" name="action" value="delete">Eliminar Usuario</button>
                <button id="edit_button" type="submit" name="action" value="editar">Editar Usuario</button>
          </div>
    </main>
    <%- include('./partials/footer') %> <%- include('./partials/script') %>
    <script src="/JS/userProfile.js"></script>
  </body>